/* Card.module.css */

.cardContainer {
  display: grid;
  justify-items: center;
  border: 2px solid var(--main-green);
  border-radius: 25px;
  width: calc(100vw / 3.5);
}

.title {
  padding: 20px 10px;
  text-wrap: unset;
  overflow-wrap: unset;
  text-align: center;
}

.price {
  padding-top: 15px;
}

.shopImg {
  height: 400px;
  margin: 0 auto;
}

.imgContainer {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.description {
  position: absolute;
  background-color: var(--main-green);
  color: white;
  font-size: 1.1rem;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 15px 15px;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.description:hover {
  opacity: 0.95;
}

.shopInput {
  border: 1px solid var(--main-green);
}

.shopInput:focus-visible {
  outline-color: var(--main-green);
}
