/* style.css -- global styles*/

:root {
  --main-green: rgb(41, 175, 0);
  --main-green-hov: rgba(41, 175, 15, 0.15); /*15% opacity */
  --main-blue: #0081af;
}

a:link,
a:visited {
  text-decoration: none;
  color: var(--main-green);
}

* {
  color: var(--main-green);
}
